name: release

on:
  release:
    types: [ published ]

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 10
          run_install: false
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'
      - run: pnpm install
      - run: pnpm run build-keycloak-theme
      - uses: softprops/action-gh-release@v2
        with:
          name: Release v${{ github.event.release.tag_name }}
          tag_name: v${{ github.event.release.tag_name }}
          target_commitish: ${{ github.head_ref || github.ref }}
          generate_release_notes: true
          draft: false
          prerelease: false
          files: dist_keycloak/keycloak-theme-*.jar
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}